@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@layer utilities{
    .shadow-black{
        box-shadow: 5px 5px theme('colors.text'),
         6px 5.5px 0px 1.5px theme('colors.black');
    }
    .shadow-name{
      box-shadow: 5px 5px theme('colors.black'),
      5px 5px 0px theme('colors.black');
    }
    .will-change-transform {
      will-change: transform;
    }
    .cursor::after {
      display: block;
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: #fff;
      animation: cursor 0.6s linear infinite alternate;
      will-change: opacity;
    }
     
    @keyframes cursor {
      0%,
      40% {
        opacity: 1;
      }
     
      60%,
      100% {
        opacity: 0;
      }
    }
}